/*
****************** NO BORRAR LOS ESTILOS INICIALES
*/
* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: sans-serif;
}
body {
	padding: 20px;
	min-height: 100vh;
	background-color: #f4f4f4;
}
body > h2:nth-child(1) {
	color: #222;
}

body > h2:nth-child(1) span {
	color: #a70000;
}
body > h2 + hr {
	margin-bottom: 20px;
}
/*
****************** NO BORRAR LOS ESTILOS INICIALES
*/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #56727c;
	height: 50px;
}
.header__nav {
	display: flex;
}
.header__item {
	color: #eee;
	text-decoration: none;
	padding: 3px 15px;
}
.header__item:hover {
	background-color: #5c7c86;
}
.header__item.selected {
	background-color: #3d545c;
	border-radius: 5px;
}

.headerLogo {
	min-width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
